@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


@import "fonts";
@import "reset";
@import "vars";
@import "global";







// Section
@import "section/header";
@import "section/intro";
@import "section/job";
@import "section/order";
@import "section/footer";




// Blocks
@import "blocks/cart";
@import "blocks/section";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/eight-block";
@import "blocks/six-block";
@import "blocks/img-in-circle";
@import "blocks/svg";
@import "blocks/canvas";
@import "blocks/order-form";
@import "blocks/social";
@import "blocks/tel";
@import "blocks/arrow";
@import "blocks/modals";




// Helpers
@import "blocks/helpers";