$black: #000;
$red: #E85400;
$white: #fff;
$white-light: #F8F8F8;

$orange-ultra: #FF6913;
$orange: #FD772B;
$orange-medium: #FF8946;
$orange-light: #FFAC7C;


$beige: #F1B898;
$beige-medium: #FFD2B8;
$beige-light: #FFDECC;


// Media
$iphone5: "max-width: 320px";
$usm: "max-width: 479px";
$sm: "max-width: 575px";
$md: "max-width: 767px";
$lg: "max-width: 991px";
$xl: "max-width: 1199px";
$xxl: "max-width: 1439px";
$xxxl: "max-width: 1599px";