.intro{
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
	position: relative;
	height: 900px;


	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	@media ($xxxl) {
		height: 808px;
	}
	@media ($xxl) {
		height: 674px;
	}
	@media ($xl) {
		height: 557px;
	}
	@media ($lg) {
		height: 431px;
	}
	@media ($md) {
		height: 323px;
	}
	@media ($sm) {
		height: 267px;
	}
	@media ($usm) {
		height: 180px;
	}
	&__wrap{
		position: absolute;

		height: 100%;


		&--1{
			top: 0;
			right: 0;
			z-index: -1;

			width: 84.5%;


			background: transparent url("../img/intro/intro-cakes.jpg") right/115% no-repeat;

			&.scale-intro{
				transition: background 700ms ease-out;
				background: transparent url("../img/intro/intro-cakes.jpg") right/100% no-repeat;
			}

		}
		&--2{
			top: 0;
			left: 0;
			z-index: 1;
			width: 59.3%;

			background: transparent url("../img/intro/intro-polygon.png") left/100% no-repeat;



		}
	}
	&__inner{
		position: relative;
		z-index: 3;

	}
	&__title{
		margin-bottom: 20px;

		font-size: 50px;
		font-weight: 700;
		color: $white;
		text-align: left;

		@media ($xl) {
			font-size: 34px;
		}
		@media ($md) {
			margin: 25px 0 10px;

			font-size: 14px;
		}

	}
	&__subtitle{
		margin-bottom: 25px;

		font-size: 16px;
		font-weight: 500;
		color: $white;
		text-align: left;

		@media ($xl) {
			font-size: 14px;
		}
		@media ($md) {
			margin-bottom: 15px;

			max-width: 166px;

			font-size: 10px;
		}
	}
}