.job{

	&__wrap{
		position: relative;
		width: 1170px;
		height: 500px;

		@media ($xl) {
			margin: 0 auto;

			width: 700px;
			height: 500px;
		}
	}
	&__item{
		position: absolute;
		z-index: 3;

		width: 100%;
		max-width: 160px;
		text-align: center;

		display: flex;
		flex-direction: column;

		@media ($xl) {
			max-width: 108px;
		}

		&:hover ~ .svg > .svg__path{
			animation-play-state: paused;

		}
		&--1{
			top: 0;
			left: 0;
		}
		&--2{
			bottom: 0;
			left: 15%;
		}
		&--3{
			top: 0;
			left: 50%;
		}
		&--4{
			bottom: 25%;
			right: 0;
		}
	}
	&__icon-wrap{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		width: 60px;
		height: 60px;
		border-radius: 50%;

		background-color: $orange;


		&--order1{
			order: 1;
			margin-bottom: 15px;
		}
		&--order2{
			order: 2;
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;

			width: 70px;
			height: 70px;

			background-color: rgba($orange, .3);
			border-radius: 50%;


			transform: translate(-50%, -50%);

			transition: width .35s ease-out, height .35s ease-out;
		}
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -2;

			width: 80px;
			height: 80px;

			background-color: rgba($orange, .3);
			border-radius: 50%;
			opacity: 0;


			transform: translate(-50%, -50%);

			transition: opacity .35s ease-out;
		}
		&:hover:before{
			opacity: 1;
		}
		&:hover:after{
			width: 66px;
			height: 66px;
		}
	}
	&__icon{
		display: block;
	}
	&__text{
		font-size: 12px;
		font-weight: 600;
		color: rgba(#000, .7);
		line-height: calc(14,63/12);

		&--order1{
			order: 1;
			margin-bottom: 15px;
		}
		&--order2{
			order: 2;
		}
	}
}