.bank-card {

	width: 100%;
	max-width: 430px;

	&__title {
		margin-bottom: 50px;

		font-size: 16px;
		font-weight: 600;
		color: #000;
		line-height: calc(19.5/16);
	}

	&__wrap{
		margin-bottom: 120px;

		display: flex;
		justify-content: space-between;

		&.hidden{
			display: none;
		}
	}
	&__span{
		max-width: 117px;
	}
	&__add-payment {
		margin-bottom: 120px;
		display: none;

		padding: 21px 29px 34px;

		border: 1px solid #E7E7E7;
		border-radius: 10px;

		&.show{
			display: block;
		}
	}

	&__wrap-inputs{
		margin-bottom: 30px;

	}

	// Общий сброс стилей input
	&__input{
		display: inline-block;
		padding: 0;
		margin: 0;
		border: none;

		appearance: none;
	}
	// Сброс стилей для webkit input
	&__input::-webkit-outer-spin-button,
	&__input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	// Сброс стилей для FF input
	&__input{
		-moz-appearance: textfield;
	}
	&__input:hover,
	&__input:focus{
		-moz-appearance: number-input;
	}

	// Кастомизация
	// Кастомизируем input
	&__input {
		display: block;
		width: 100%;

		margin-bottom: 12px;
		padding: 8px 0;

		font-size: 14px;
		font-weight: 400;
		color: #363636;
		line-height: calc(17.07/14);

		border-bottom: 1px solid #7D7D7D;

		&::placeholder{
			font-size: 14px;
			font-weight: 400;
			color: #7D7D7D;
			line-height: calc(17.07/14);

		}
		&:focus{
			outline: none;
			border-color: #000;
		}
		&.valid{
			border-color: #289B00;
			color: #289B00;
		}
		&.invalid{
			border-color: #DB0000;
			color: #DB0000;
		}
	}
}