.eight-block{

	display: flex;
	flex-wrap: wrap;

	&__col{
		width: 25%;
		padding: 10px;

		@media ($md) {
			width: 50%;
			padding: 0px;

		}
		@media ($sm) {
			width: 100%;
		}
	}
	&__item{

		text-align: center;

		@media ($md) {
			margin: 0 auto;
		}
	}
	&__header{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		min-height: 160px;

	}
	&__img{
		display: block;
	}
	&__text{

		font-size: 16px;
		font-weight: 500;
		color: $black;

		@media ($xl) {
			font-size: 15px;
		}
		@media ($md) {
			font-size: 12px;
		}
	}
}