.img-in-circle{
	position: relative;

	transition: transform .2s ease-out;

	&:hover{
		transform: scale(1.07);
	}
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;

		width: 220px;
		height: 220px;

		background-color: $white;
		border: 1px solid rgba($white, .05);
		border-radius: 50%;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);


		transform: translate(-50%, -50%);
	}
	&:before{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -2;

		width: 270px;
		height: 270px;

		background-color: $white;
		border: 1px solid rgba($white, .05);
		border-radius: 50%;
		box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.05);


		transform: translate(-50%, -50%);
	}
	&__img{
		display: block;
		margin: 0 auto 55px;


		// @media ($md) {
		// 	margin-bottom: 25px;
		// }
		// @media ($usm) {
		// 	margin-bottom: 10px;
		// }

		&--sm{
			width: 190px;
			height: 190px;
		}

	}


}