.img-in-circle{
	position: relative;
	z-index: 1;

	transition: transform .2s ease-out;

	@media ($xl) {
		transform: scale(.7);

		&:hover{
			transform: scale(.75);
		}

	}
	&:hover{
		transform: scale(1.07);
	}
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;

		width: 220px;
		height: 220px;

		background-color: $white;
		border: 1px solid rgba(0, 0, 0, 0.05);
		border-radius: 50%;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);


		transform: translate(-50%, -50%);
	}
	&:before{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -2;

		width: 270px;
		height: 270px;

		background-color: $white;
		border-radius: 50%;
		box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.05);


		transform: translate(-50%, -50%);
	}
	&--sm:after{
		width: 98px;
		height: 98px;
	}
	&--sm:before{
		width: 120px;
		height: 120px;
	}
	&__img{
		display: block;
		margin: 0 auto 55px;


		@media ($xl) {
			margin-bottom: 20px;
		}
		// @media ($usm) {
		// 	margin-bottom: 10px;
		// }

		&--sm{
			width: 190px;
			height: 190px;
		}
		&--modal{
			margin: 0;
			width: 85px;
			height: 85px;
		}

	}


}