.nav{
	&__link{
		margin-right: 45px;

		font-size: 20px;
		font-weight: 500;
		color: $white;

		border-bottom: 1.5px solid transparent;

		transition: border-bottom .2s ease-out;

		&:hover{
			border-bottom: 1.5px solid $white;

		}

		@media ($xl) {
			font-size: 18px;
			margin-right: 35px;
		}
		@media ($md) {
			font-size: 10px;
			margin-right: 0px;
		}

	}
}