.order-form{
	&__wrap{
		display: flex;
		flex-wrap: nowrap;

		@media ($md) {
			flex-wrap: wrap;
		}
	}
	&__left{
		width: 38%;
		padding-right: 33px;

		@media ($xl) {
			padding-right: 0;
		}
		@media ($md) {
			width: 100%;
		}
	}
	&__right{
		width: 62%;
		padding-left: 33px;

		@media ($md) {
			width: 100%;
			padding-left: 0px;

		}
	}
	&__title{
		margin-bottom: 50px;

		font-size: 16px;
		font-weight: 600;
		color: #000;

		@media ($xl) {
			margin-bottom: 30px;

			font-size: 15px;
		}
		@media ($md) {
			margin-bottom: 20px;

			font-size: 13px;
		}
	}
	&__input{
		display: block;
		margin-bottom: 25px;
		width: 100%;
		padding: 13px 22px;

		font-size: 16px;
		color: #000;

		border: 1px solid transparent;
		border-radius: 7px;
		background-color: #F8F8F8;

		transition: border-color .2s ease-out;

		@media ($xl) {
			font-size: 15px;
		}
		@media ($md) {
			padding: 8px;
			font-size: 13px;
		}

		&:focus{
			outline: 0;

			border-color: rgba($orange, .3);
		}
		&::placeholder{
			color: rgba(0, 0, 0, 0.5);
		}

		&.valid{
			border-color: #289B00;
			color: #289B00;
		}
		&.invalid{
			border-color: #DB0000;
			color: #DB0000;
		}
	}
	&__textarea{
		height: 120px;
		resize: none;
	}
	&__btn-wrap{
		@media ($md) {
			text-align: center;
		}
	}
}