.six-block{
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	&__col{
		width: 33.3333%;
		padding: 0 35px;
		margin-bottom: 120px;

		@media ($xl) {
			margin-bottom: 45px;

		}
		@media ($md) {
			width: 50%;
			margin-bottom: 35px;
		}
		@media ($sm) {
			width: 100%;
			margin-bottom: 25px;
		}
	}
	&__title{
		margin-bottom: 10px;

		font-size: 16px;
		font-weight: 500;
		color: $black;

		@media ($xl) {
			font-size: 15px;
		}
		@media ($md) {
			font-size: 13px;
		}
	}
	&__text{
		width: 100%;
		max-width: 188px;
		margin: 0 auto 10px;

		font-size: 12px;
		color: rgba($black, .7);

		@media ($xl) {
			font-size: 11px;
		}
		@media ($md) {
			font-size: 10px;
		}
	}
	&__price{
		margin-bottom: 10px;

		font-size: 16px;
		color: $orange;

		@media ($xl) {
			font-size: 14px;
		}
		@media ($md) {
			font-size: 12px;
		}
	}
}