.social{
	display: flex;

	&__link{
		margin-right: 30px;

		&--mr0{
			margin-right: 0;
		}

	}
	&__item{
		width: 37px;
		height: 37px;
	}
	&__icon{
		display: block;
		width: 37px;
		height: 37px;

		fill: #F1B898;

		transition: fill .2s ease-out;

		&:hover{
			fill: #FFD2B8;
		}
	}
}