.svg{
	width: 1170px;
	height: 500px;

	@media ($xl) {
		width: 700px;
		height: 500px;
	}

	&__path{
		stroke: $orange;
		fill: none;
		stroke-width: 2px;
		stroke-dasharray: 15 33;

		animation: svg-dasharray 3s linear 0s infinite normal none;


	}
}

@keyframes svg-dasharray {
	0%{
		stroke-dashoffset: 0;
	}
	100%{
		stroke-dashoffset: -96;
	}
}